<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="=device-width, initial-scale=1">
    <title>Edit Major Page</title>
    <link rel="stylesheet" href="../static/css/MyCss.css">
    <!--    Jquery-->

    <script src="../static/js/jquery-3.4.1.js"></script>
    <script src="../static/js/jquery-ui-1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="../static/js/jquery-ui-1.12.1/jquery-ui.theme.min.css">
    <!--    Jquery-->
    <script src="../static/js/util.js"></script>
    <script src="../static/js/Edit_JS.js"></script>

    <!--    Bootstrap-->
    <!--    <link rel="stylesheet" href="../bootstrap-3.3.7-dist/css/bootstrap.min.css">-->
    <!--<link rel="stylesheet" href="../static/css/flatly.css">-->
    <!--    Bootstrap-->

</head>
<body style="background-color: #ecf0f1">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary col-lg-12">
    <a class="navbar-brand" href="#">SUSTech Courschema</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#" onclick="util.redirect('/userhome','param')">主页<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#" onclick="util.redirect('/Edit','param')">自定义</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" onclick="util.authorityCheck('param','/QandA_student','/QandA_admin')">全部培养方案</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" onclick="util.redirect('/course_admin','param')">全部课程</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" onclick="util.redirect('/QandA_admin', 'param')">提问与答疑</a>
            </li>
        </ul>
    </div>
    <ul class="mr-auto navbar-nav">
        <li>
            <a class="nav-link" href="#">王天麒，11711613</a>
        </li>
        <li>
            <a class="nav-link" href="#">设置</a>
        </li>
        <li>
            <a class="nav-link" href="#">帮助</a>
        </li>
        <li>
            <a class="nav-link" href="#">退出</a>
        </li>
    </ul>
</nav>
<div class="jumbotron">

    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="row">
                <button type="button" disabled="disabled" class="btn btn-primary btn-lg btn-block col-md-12">所有专业
                </button>
            </div>
            <div class="row">
                <input class="form-control col-md-9" type="text" placeholder="Search" id="search">
                <button type="button" class="btn btn-secondary col-md-3" id="searchbtn">Find</button>
            </div>
            <div class="row">
                <div id="All_Major" class="col-md-12">
                    <div class="row" id="Major_List">

                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9">
            <div class="jumbotron">
                <!--               todo 弹出提示框：拖动左侧列表来收藏你关注的培养方案！-->
                <div class="grid row">
                    <div class="col-md-4" id="place0">
                        <div class="card text-white bg-primary mb-3 droppable" style="max-width: 20rem;">
                            <div class="card-header">NULL</div>
                            <div class="card-body">
                                <h4 class="card-title">培养方案名称</h4>
                                <p class="card-text">Introduction...</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" id="place1">
                        <div class="card text-white bg-secondary mb-3 droppable" style="max-width: 20rem;">
                            <div class="card-header">NULL</div>
                            <div class="card-body">
                                <h4 class="card-title">培养方案名称</h4>
                                <p class="card-text">Introduction...</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" id="place2">
                        <div class="card text-white bg-success mb-3 droppable" style="max-width: 20rem;">
                            <div class="card-header">NULL</div>
                            <div class="card-body">
                                <h4 class="card-title">培养方案名称</h4>
                                <p class="card-text">Introduction...</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" id="place3">
                        <div class="card text-white bg-danger mb-3 droppable" style="max-width: 20rem;">
                            <div class="card-header">NULL</div>
                            <div class="card-body">
                                <h4 class="card-title">培养方案名称</h4>
                                <p class="card-text">Introduction...</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" id="place4">
                        <div class="card text-white bg-warning mb-3 droppable" style="max-width: 20rem;">
                            <div class="card-header">NULL</div>
                            <div class="card-body">
                                <h4 class="card-title">培养方案名称</h4>
                                <p class="card-text">Introduction...</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" id="place5">
                        <div class="card text-white bg-info mb-3 droppable" style="max-width: 20rem;">
                            <div class="card-header">NULL</div>
                            <div class="card-body">
                                <h4 class="card-title">培养方案名称</h4>
                                <p class="card-text">Introduction...</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" id="place6">
                        <div class="card text-white bg-warning mb-3 droppable" style="max-width: 20rem;">
                            <div class="card-header">NULL</div>
                            <div class="card-body">
                                <h4 class="card-title">培养方案名称</h4>
                                <p class="card-text">Introduction...</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" id="place7">
                        <div class="card text-white bg-info mb-3 droppable" style="max-width: 20rem;">
                            <div class="card-header">NULL</div>
                            <div class="card-body">
                                <h4 class="card-title">培养方案名称</h4>
                                <p class="card-text">Introduction...</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" id="place8">
                        <div class="card text-white bg-dark mb-3 droppable" style="max-width: 20rem;">
                            <div class="card-header">NULL</div>
                            <div class="card-body">
                                <h4 class="card-title">培养方案名称</h4>
                                <p class="card-text">Introduction...</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-primary btn-lg btn-block"
                                style="background-color: #5cb85c" onclick="save()">保存
                        </button>

                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-primary btn-lg btn-block"
                                style="background-color: #e12e1c">放弃
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


</body>
</html>
