<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="=device-width, initial-scale=1">
    <title>MajorEdit</title>
    <link rel="stylesheet" href="../static/css/MyCss.css">
    <!--    Jquery-->

    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <script src="../static/js/jquery-3.4.1.js"></script>
    <script type="application/javascript" src="../static/js/bootstrap.js"></script>
    <script src="../static/js/MajorEdit_JS.js"></script>
    <script src="../static/js/jquery-ui-1.12.1/jquery-ui.js"></script>
    <script src="../static/js/util.js"></script>
    <link rel="stylesheet" href="../static/js/jquery-ui-1.12.1/jquery-ui.theme.min.css">


</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary col-lg-12">
    <a class="navbar-brand" href="#">SUSTech Courschema</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarColor01">
        <h4 class = "text-white">编辑培养方案</h4>
    </div>

    <div class="collapse navbar-collapse offset-5">
        <button type="button" class="btn btn-success col-lg-5" onclick="upload()">保存</button>
        <button type="button" class="btn btn-danger col-lg-5 offset-1" onclick="back()">返回</button>
    </div>

</nav>

<div class="jumbotron">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="row">
                <button type="button" disabled="disabled" class="btn btn-primary btn-lg btn-block col-md-12">所有课程
                </button>
            </div>
            <div class="row">
                <input class="form-control col-md-9" type="text" placeholder="Search" id="search">
                <button type="button" class="btn btn-secondary col-md-3" id="searchbtn">Find</button>
            </div>
            <div class="row">
                <div id="All_Major" class="col-md-12">
                    <div class="row" id="Course_List">

                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9">
            <ul id="myTab" class="nav nav-tabs">
                <li class="active">
                    <a href="#jiben_part" data-toggle="tab">
                        基本信息
                    </a>
                </li>
                <li><a href="#ruxi_part" data-toggle="tab">入系必修课</a></li>
                <li><a href="#tongshi_part" data-toggle="tab">通识必修课</a></li>
                <li><a href="#bixiu_part" data-toggle="tab">专业必修课</a></li>
                <li><a href="#xuanxiu_part" data-toggle="tab">专业选修课</a></li>
                <li><a href="#political_part" data-toggle="tab">思想政治课</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade in active" id="jiben_part">
                    <div class="info_board">
                        <form id="data">
                            <div class="row">
                                <div class="form-group col-6">
                                    <label class="col-form-label" for="schemaname">培养方案名称</label>
                                    <input class="form-control form-control-lg"name="schema_name" type="text" placeholder="培养方案名称" id="schemaname">
                                </div>
                                <div class="form-group col-6">
                                    <label class="col-form-label" for="year">培养方案年份</label>
                                    <input class="form-control" id="year" type="number" name="year" placeholder="输入培养方案年份">
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-6">
                                    <label class="col-form-label" for="department">所属院系</label>
                                    <input class="form-control" id="department" type="text" name="department">
                                </div>
                                <div class="form-group col-6">
                                    <label class="col-form-label" for="major">所属专业</label>
                                    <input class="form-control" id="major" type="text" name="major" placeholder="输入所属专业">
                                </div>
                            </div>


                            <div class="row">
                                <div class="form-group col-6">
                                    <label class="col-form-label" for="renwencredit">人文学分要求</label>
                                    <input type="number"name="HU_elec" class="form-control" placeholder="输入数字" id="renwencredit">
                                </div>
                                <div class="form-group col-6">
                                    <label class="col-form-label" for="shekecredit">社科学分要求</label>
                                    <input type="number"name="SS_elec" class="form-control" placeholder="输入数字" id="shekecredit">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-6">
                                    <label class="col-form-label" for="AR_elec">艺术学分要求</label>
                                    <input type="number"name="AR_elec" class="form-control" placeholder="输入数字" id="AR_elec">
                                </div>
                                <div class="form-group col-6">
                                    <label class="col-form-label" for="major_elec">专业选修学分要求</label>
                                    <input type="number"name="major_elec" class="form-control" placeholder="输入数字" id="major_elec">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-6">
                                    <label for="foreign">留学生培养方案</label>
                                    <select class="form-control"name="foreign" id="foreign">
                                        <option>是</option>
                                        <option>否</option>
                                    </select>
                                </div>
                                <div class="form-group col-6">
                                    <label for="one_plus3">培养方案类型</label>
                                    <select class="form-control"name="one_plus3" id="one_plus3">
                                        <option>1+3培养</option>
                                        <option>2+2培养</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="intro">培养方案介绍</label>
                                <textarea class="form-control"name="intro" id="intro" rows="5"></textarea>
                            </div>

                        </form>
                    </div>
                </div>
                <div class="tab-pane fade" id="ruxi_part">
                    <div class="card text-white bg-secondary mb-3 course-board" >
                        <div class="card-header">将课程拖入选择栏</div>
                        <div class="card-body droppable " id="ruxi">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th scope="col">课程编号</th>
                                    <th scope="col">课程名称</th>
                                    <th scope="col">课程学分</th>
                                    <th scope="col">开课学期</th>
                                    <th scope="col">建议修读学年</th>
                                    <th scope="col">开课院系</th>
                                    <th scope="col">编辑操作</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="tongshi_part">
                    <div class="card text-white bg-secondary mb-3 course-board" >
                        <div class="card-header">将课程拖入选择栏</div>
                        <div class="card-body droppable " id="tongshi">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th scope="col">课程编号</th>
                                    <th scope="col">课程名称</th>
                                    <th scope="col">课程学分</th>
                                    <th scope="col">开课学期</th>
                                    <th scope="col">建议修读学年</th>
                                    <th scope="col">开课院系</th>
                                    <th scope="col">编辑操作</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="bixiu_part">
                    <div class="card text-white bg-secondary mb-3 course-board" >
                        <div class="card-header">将课程拖入选择栏</div>
                        <div class="card-body droppable " id="bixiu">
                            <table class="table table-hover ">
                                <thead>
                                <tr>
                                    <th scope="col">课程编号</th>
                                    <th scope="col">课程名称</th>
                                    <th scope="col">课程学分</th>
                                    <th scope="col">开课学期</th>
                                    <th scope="col">建议修读学年</th>
                                    <th scope="col">开课院系</th>
                                    <th scope="col">编辑操作</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id = "xuanxiu_part">
                    <div class="card text-white bg-secondary mb-3 course-board" >
                        <div class="card-header">将课程拖入选择栏</div>
                        <div class="card-body droppable " id="xuanxiu">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th scope="col">课程编号</th>
                                    <th scope="col">课程名称</th>
                                    <th scope="col">课程学分</th>
                                    <th scope="col">开课学期</th>
                                    <th scope="col">建议修读学年</th>
                                    <th scope="col">开课院系</th>
                                    <th scope="col">编辑操作</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
                <div class="tab-pane fade" id = "political_part">
                    <div class="card text-white bg-secondary mb-3 course-board" >
                        <div class="card-header">将课程拖入选择栏</div>
                        <div class="card-body droppable " id="political">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th scope="col">课程编号</th>
                                    <th scope="col">课程名称</th>
                                    <th scope="col">课程学分</th>
                                    <th scope="col">开课学期</th>
                                    <th scope="col">建议修读学年</th>
                                    <th scope="col">开课院系</th>
                                    <th scope="col">编辑操作</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>