<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TransmitTest</title>
    <script src="../static/js/jquery-3.4.1.js"></script>
    <script src="../static/js/jquery-ui-1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="../static/js/jquery-ui-1.12.1/jquery-ui.theme.min.css">
    <!--    Jquery-->
    <script src="../static/js/TransmitTest.js"></script>
</head>
<body>
<h1>以下是后端传输来的list</h1>
<table>
    <tr>1</tr>
    <tr>2</tr>
</table>
<button id = "b">Transmit</button>
</body>
</html>